<h3>Welcome {{display_name}}</h3>

<form action="/api/posts/search" method="get">
  <input type="text" name="key"/>
  <button type="submit">검색</button>
</form>

{{!-- {{#if result}}
  {{#each result}}
    <p>{{CONTENT}}</p>
  {{/each}}
{{/if}} --}}
<img src="{{image}}" />
{{#each post as |value|}}
  <p>
    <img id="postpic" src="{{value.POST_PHOTO}}" />
    <span>{{value.CONTENT}}</span></p>
{{/each}}

<script>
  console.log({{result}})
</script>